body{
    font-family: 'Special Elite', cursive;
    background-color: mediumturquoise;
}
.header_div{
    background:white;
    color:darkcyan;

}
.header_div p{
    font-family: 'Roboto', sans-serif;
    color: rgb(232, 22, 134);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Sevillana', cursive;
    letter-spacing: 3px;
    font-weight: bolder;
    width: 130px;
    margin-top: 10px;
}
.copy_right_footer{
    position: fixed;
    color: rgb(218, 144, 144);
    background-color: lavender;
    line-height: 3;
    text-align: center;
    width: 100%;
    bottom: 0px;
    font-size: 18px;
    text-shadow: 5px 5px 5px rgb(166, 196, 222);
}
